amqp==5.1.1
asgiref==3.6.0
async-timeout==4.0.2
autopep8==2.0.1
beautifulsoup4==4.12.2
billiard==3.6.4.0
bs4==0.0.1
celery==5.2.7
certifi==2022.12.7
charset-normalizer==3.1.0
click==8.1.3
click-didyoumean==0.3.0
click-plugins==1.1.1
click-repl==0.2.0
colorama==0.4.6
cron-descriptor==1.4.0
Django==4.1.5
django-celery-beat==2.5.0
django-etc==1.4.0
django-hitcount==1.3.5
django-redis==5.2.0
django-timezone-field==5.0
djangorestframework==3.14.0
Faker==16.1.0
gunicorn==20.1.0
idna==3.4
kombu==5.2.4
Pillow==9.4.0
pip-chill==1.0.3
prompt-toolkit==3.0.38
pycodestyle==2.10.0
python-crontab==2.7.1
python-dateutil==2.8.2
pytz==2023.3
redis==4.5.5
requests==2.29.0
six==1.16.0
soupsieve==2.4.1
sqlparse==0.4.3
tomli==2.0.1
tzdata==2022.7
urllib3==1.26.15
vine==5.0.0
wcwidth==0.2.6
whitenoise==6.4.0
mysql
