
{% extends 'base.html' %}
{% block content %}


        <!-- Top News Start-->
        <div class="top-news">
            <div class="container-fluid">
                <div class="row">
                    {% comment %} top post {% endcomment %}
                    {% if top_post %}
                    <div class="col-md-6 tn-left">
                        <div class="tn-img">
                            <img src={{ top_post.img.url }} />
                            <div class="tn-content">
                                <div class="tn-content-inner">
                                    <a class="tn-date" href=""><i class="far fa-clock"></i>{{ top_post.created_date}}</a>
                                    <a class="tn-title" href={% url 'detail' top_post.pk %}>{{top_post.title }}</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endif %}
                    
                    <div class="col-md-6 tn-right">
                        <div class="row">
                            {% for post in  top_post_four %}
                        
                            <div class="col-md-6">
                                <div class="tn-img">
                                    <img src={{post.img.url}} />
                                    <div class="tn-content">
                                        <div class="tn-content-inner">
                                            <a class="tn-date" ><i class="far fa-clock"></i>{{post.created_date}}</a>
                                            <a class="tn-title" href={% url 'detail' post.pk %}>{{post.title | slice:40}}</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            {% endfor %}                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Top News End-->


        <!-- Category News Start-->
        <div class="cat-news">
            <div class="container-fluid">
                <div class="row">
                    {% for cat,posts in cats.items %}               
                    <div class="col-md-6">
                        <h2><i class="fas fa-align-justify"></i>{{cat}}</h2>
                        <div class="row cn-slider">
                            {% for post in posts %}
                            <div class="col-md-6">
                                <div class="cn-img">
                                    <img src={{post.img.url}} />
                                    <div class="cn-content">
                                        <div class="cn-content-inner">
                                            <a class="cn-date"><i class="far fa-clock"></i>post.created_date</a>
                                            <a class="cn-title" href={% url 'detail' post.pk %}>{{post.title | slice:50}}</a>
                                        </div>
                                    </div>
                                </div>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
        <!-- Category News End-->

        <!-- Main News Start-->
        <div class="main-news">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-8">
                        <div class="row">
                            <div class="col-md-12">
                                <h2><i class="fas fa-align-justify"></i>Latest News</h2>
                                <div class="row">
                                    <div class="col-lg-6">
                                        <div class="mn-img">
                                            <img src={{latest_news.img.url}} />
                                        </div>
                                        <div class="mn-content">
                                            <a class="mn-title" href={% url 'detail' latest_news.pk %}>{{latest_news.title | truncatechars:50}}</a>
                                            <a class="mn-date" href=""><i class="far fa-clock"></i>{{latest_news.created_date}}</a>
                                            <p>
                                                {{latest_news.body | truncatechars:100}}    
                                            </p>
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        {% for post in latest_news_five %}
                                        <div class="mn-list">
                                            <div class="mn-img">
                                                <img src={{post.img.url}} />
                                            </div>
                                            <div class="mn-content">
                                                <a class="mn-title" href="">{{post.title| truncatechars:40}}</a>
                                                <a class="mn-date" href=""><i class="far fa-clock"></i>{{post.created_date}}</a>
                                            </div>
                                        </div>
                                        {% endfor %}
                                        
                                        
                                    </div>
                                </div>
                            </div>
                            {% comment %} popular news {% endcomment %}
                            <div class="col-md-12">
                                <h2><i class="fas fa-align-justify"></i>Popular News</h2>
                                <div class="row">
                                    <div class="col-lg-6">
                                        <div class="mn-img">
                                            <img src={{popular_news.img.url}} />
                                        </div>
                                        <div class="mn-content">
                                            <a class="mn-title" href={% url 'detail' popular_news.pk %}>{{popular_news.title | slice:20 }}</a>
                                            <a class="mn-date" href=""><i class="far fa-clock"></i>{{popular_news.created_date}}</a>
                                            <p>
                                                {{popular_news.body | slice:70 }} </p>
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        {% for post in popular_news_five %}
                                        {% if post %}
                                        <div class="mn-list">
                                            <div class="mn-img">
                                                <img src={{post.img.url}} />
                                            </div>
                                            <div class="mn-content">
                                                <a class="mn-title" href={% url 'detail' post.pk %}>{{post.title | slice:30}}</a>
                                                <a class="mn-date" href=""><i class="far fa-clock"></i>{{post.created_date}}</a>
                                            </div>
                                        </div>{% endif %}
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    {% include 'leftdiv.html' %}
                </div>
            </div>
        </div>
        <!-- Main News End-->


        <!-- Footer Start -->
        <div class="footer">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-3 col-md-6">
                        <div class="footer-widget">
                            <h3 class="title">Useful Links</h3>
                            <ul>
                                <li><a href="#">Pellentesque</a></li>
                                <li><a href="#">Aliquam</a></li>
                                <li><a href="#">Fusce placerat</a></li>
                                <li><a href="#">Nulla hendrerit</a></li>
                                <li><a href="#">Maecenas</a></li>
                            </ul>
                        </div>
                    </div>

                    <div class="col-lg-3 col-md-6">
                        <div class="footer-widget">
                            <h3 class="title">Quick Links</h3>
                            <ul>
                                <li><a href="#">Posuere egestas</a></li>
                                <li><a href="#">Sollicitudin</a></li>
                                <li><a href="#">Luctus non</a></li>
                                <li><a href="#">Duis tincidunt</a></li>
                                <li><a href="#">Elementum</a></li>
                            </ul>
                        </div>
                    </div>

                    <div class="col-lg-3 col-md-6">
                        <div class="footer-widget">
                            <h3 class="title">Get in Touch</h3>
                            <div class="contact-info">
                                <p><i class="fa fa-map-marker"></i>123 Terry Lane, New York, USA</p>
                                <p><i class="fa fa-envelope"></i>email@example.com</p>
                                <p><i class="fa fa-phone"></i>+123-456-7890</p>
                                <div class="social">
                                    <a href=""><i class="fab fa-twitter"></i></a>
                                    <a href=""><i class="fab fa-facebook"></i></a>
                                    <a href=""><i class="fab fa-linkedin"></i></a>
                                    <a href=""><i class="fab fa-instagram"></i></a>
                                    <a href=""><i class="fab fa-youtube"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                    <div class="col-lg-3 col-md-6">
                        <div class="footer-widget">
                            <h3 class="title">Newsletter</h3>
                            <div class="newsletter">
                                <p>
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus sed porta dui. Class aptent taciti sociosqu ad litora torquent per conubia nostra inceptos
                                </p>
                                <form>
                                    <input class="form-control" type="email" placeholder="Your email here">
                                    <button class="btn">Submit</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Footer End -->

{% endblock content %}