<div class="col-md-4">
    <div class="sidebar">
        <div class="sidebar-widget">
            <h2><i class="fas fa-align-justify"></i>Category</h2>
            <div class="category">
                <ul class="fa-ul">
                    {% for category in categories %}
                    <li><span class="fa-li"><i class="far fa-arrow-alt-circle-right"></i></span><a href="">{{category.name}}</a></li> 
                    {% endfor %}
                      </ul>
            </div>
        </div>

        <div class="sidebar-widget">
            <h2><i class="fas fa-align-justify"></i>Tags</h2>
            <div class="tags">
                {% for tag in tags %}
                    <a href="">{{tag.name}}</a>
                {% endfor %}
            </div>
        </div>


        <div class="sidebar-widget">
            <h2><i class="fas fa-align-justify"></i>Ads</h2>
            <div class="image">
                <div class="row">
                    {% for ad in ads %}
                    <div class="col-sm-6">
                        <a href={{ad.website}}><img src={{ad.img.url}} alt="Image"></a>
                    </div>
                    {% endfor %}
                    
                   
                </div>
            </div>
        </div>

    </div>
</div>